html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-text: rgba(182, 182, 182, 1);
  --primary-title: rgba(51, 51, 51, 1);
  --third-color-text: rgba(243, 129, 129, 1);
  --secondary-text-title: rgba(149, 225, 211, 1);
  --fourth-color-text: rgba(51, 51, 51, 1);
  --primary-button-color: rgba(149, 225, 211, 1);
}

:root {
  --background: rgba(0, 0, 0, 1);
  --but-color: rgba(255, 255, 255, 1);
}

:root {
  --main-font: "Montserrat", "sans-serif";
  --second-font: "Roboto", "sans-serif";
  --third-font: "Kaushan Script", "sans-serif";
}

body {
  font-size: 15px;
  font-family: var(--main-font);
  color: var(--fourth-color-text);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header__nav {
  padding-top: 15px;
  font-family: var(--main-font);
}
.header__logo {
  padding-bottom: 12px;
  color: var(--primary-button-color);
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}
.header__list {
  display: flex;
  gap: 55px;
  text-transform: uppercase;
}
.header__link {
  color: var(--primary-button-color);
}
.header__link:hover {
  color: var(--third-color-text);
}

.service {
  padding-top: 68px;
  padding-bottom: 100px;
}
.service__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 70px;
       column-gap: 70px;
  justify-content: center;
}
.service__item {
  display: flex;
  flex-basis: calc((100% - 140px) / 3);
}
@media screen and (max-width: 768px) {
  .service__item {
    flex-basis: calc((100% - 140px) / 2);
  }
}
.service__card {
  display: flex;
  gap: 18px;
  font-family: var(--main-font);
  font-size: 15px;
}
.service__img {
  height: 37px;
  width: 37px;
}
.service__title {
  padding-bottom: 40px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.service__text {
  font-size: 15px;
  color: var(--primary-text);
}
.service__subtitle {
  padding-bottom: 20px;
  font-family: var(--third-font);
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.service-dec_element {
  margin: auto;
  width: 60px;
  height: 4px;
  background-color: var(--third-color-text);
}
.service__caption {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.about {
  padding-bottom: 80px;
}
.about__list {
  display: flex;
  gap: 30px;
}
.about__img {
  padding-bottom: 30px;
}
.about__subtitle {
  padding-bottom: 17px;
  font-family: var(--third-font);
  font-size: 24px;
  text-align: center;
}
.about__title {
  padding-bottom: 36px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}
.about__text {
  text-align: center;
  color: var(--primary-text);
  font-size: 15px;
  font-family: var(--main-font);
}
.about__name {
  padding-top: 30px;
  padding-bottom: 11px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 14px;
}
.about__role {
  font-size: 15px;
  color: var(--primary-text);
  font-family: var(--main-font);
  text-align: center;
}

.footer {
  padding-bottom: 10px;
}

.footer-container {
  border-top: 1px solid rgb(182, 182, 182);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--main-font);
}

.footer-link {
  color: var(--third-color-text);
}

.footer-form {
  display: flex;
}

.footer-input {
  /*flex-wrap: nowrap;*/
  border: 2px solid var(--primary-text);
  border-right: none;
}

.footer-button {
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: var(--secondary-text-title);
  border: none;
  color: var(--but-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
