:root {
  --primary-text: rgba(182, 182, 182, 1);
  --primary-title: rgba(51, 51, 51, 1);
  --third-color-text: rgba(243, 129, 129, 1);
  --secondary-text-title: rgba(149, 225, 211, 1);
  --fourth-color-text: rgba(51, 51, 51, 1);
  --primary-button-color: rgba(149, 225, 211, 1);
}
:root{
--background: rgba(0, 0, 0, 1);
--but-color: rgba(255, 255, 255, 1);
}

:root {
  --main-font: "Montserrat", "sans-serif";
  --second-font: "Roboto", "sans-serif";
  --third-font: "Kaushan Script", "sans-serif";
}
*{
  box-sizing: border-box;
}
body{
  font-size: 15px;
  font-family: var(--main-font);
  color: var(--fourth-color-text);
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.header-container{
  display: flex;
  justify-content: space-between;
}
.header {
  padding-top: 17px;
  padding-bottom: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  padding-top: 15px;
  font-family: var(--main-font);
}

.header-logo {
  padding-bottom: 12px;
  color: var(--primary-button-color);
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}

.header-list{
  display: flex;
  gap: 55px;
  text-transform: uppercase;
}
.header-link{
  color: var(--primary-button-color);
}
.header-link:hover{
  color: var(--third-color-text);
}

.service-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  justify-content: center;
}
.service-item{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-basis: calc((100% - 140px) / 3);
}

.service-card{
  display: flex;
  gap: 18px;
  font-family: var(--main-font);
  font-size: 15px;
}
.service-img{
  height: 37px;
  width: 37px;
}

.service-title {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.service-text{
  font-size: 15px;
  color: var(--primary-text);
}
.service-subtitle {
  margin-bottom: 20px;
  font-family: var(--third-font);
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.service-dec_element{
  margin: auto;
  width: 60px;
  height: 4px;
  background-color: var(--third-color-text);
}
.service-caption{
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}


.about-list{
  display: flex;
  gap: 30px;
}
.about-img{
  padding-bottom: 30px;
}
.about-subtitle {
  padding-bottom: 17px;
  font-family: var(--third-font);
  font-size: 24px;
  text-align: center;
}

.about-title{
  padding-bottom: 36px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}


.about-text {
  padding-top: 45px;
  padding-bottom: 27px;
  text-align: center;
  color: var(--primary-text);
  font-size: 15px;
  font-family: var(--main-font);
}

.about-name {
  padding-top: 30px;
  padding-bottom: 11px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 14px;
}

.about-role {
  padding-bottom: 80px;
  font-size: 15px;
  color: var(--primary-text);
  font-family: var(--main-font);
  text-align: center;
}
.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--main-font);
}
.footer-link{
  color: var(--third-color-text);
}
.footer-copyright {
  padding-top: 22px;
  padding-bottom: 20px;
}
.footer-form{
  display: flex;
}
.footer-input{
  /*flex-wrap: nowrap;*/
  border: 2px solid var(--primary-text);
  border-right: none;
}
.footer-button {
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: var(--secondary-text-title);
  border: none;
  color: var(--but-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
