:root {
    --primary: #2196f3;
    --primary-hover: #64b5f6;
    --primary-active: #1976d2;
    --header-bg: #2d2d2d;
    --surface-main: #fafafa;
    --secondary-text: #e0e0e0;
    --footer-bg: #2F303A;
}
